<Context path="">
  <WatchedResource>WEB-INF/web.xml</WatchedResource>
  <Manager pathname=""/>
  <Resource
    name="jdbc/CascadeDS"
    auth="Container"
    type="javax.sql.DataSource"
    username="cas"
    password="supersecret"
    driverClassName="com.mysql.jdbc.Driver"
    url="jdbc:mysql://mysql/cascade?useUnicode=true&amp;characterEncoding=UTF-8"
    maxTotal="50"
    maxIdle="10"
    maxWaitMillis="3000"
    removeAbandonedOnBorrow="true"
    removeAbandonedOnMaintenance="true"
    removeAbandonedTimeout="300"
    logAbandoned="true"
    testOnBorrow="true"
    testOnCreate="true"
  />
    <ResourceLink name="schemaName" global="cascadeSchemaName" type="java.lang.String"/>
</Context>
